<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Formulaire de jeu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="icon" href="{{ url_for('static', filename='IMAC.png') }}"/>
  </head>
  <body>
    <h1>Formulaire de saisie de Jeu</h1>
    <h2>Décrivez votre jeu à ajouter au système</h2>
    <form action="/form/list" method="post">
      <label name="title">Nom du jeu<input type="text" id="title" name="title" maxlength="50"></input></label>
      <label name="price">Prix du jeu<input type="number" id="price" name="price" min="0"></input></label>
      <label name="desc">Description<input type="text" id="desc" name="desc" maxlength="500"></input></label>
      <input type="submit" value="Ajouter"></input>
  </form>
    <script></script>
  </body>
</html>
