<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Accueil</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link rel="icon" href="{{ url_for('static', filename='IMAC.png') }}" />
  </head>
  <body>
    <div>
      <h1>Liste des données</h1>
      <a href="/">Retour à l'Accueil</a>
    </div>

    <table>
      <tr>
        <th>Nom</th>
        <th>Prix</th>
        <th>Plateforme</th>
        <th>Description</th>
      </tr>
      {% for game in gamesList %}
      <tr>
        <td>{{ game.title }}</td>
        <td>{{ game.price }}</td>
        <td>{{ game.plat }}</td>
        <td>{{ game.desc }}</td>
      </tr>
      {% endfor %}
    </table>

    <div>
      <a href="/form">Ajouter un Jeu</a>
    </div>

    <script></script>
  </body>
</html>
